@charset "utf-8";

body{
    background-color: powderblue;
}

.images{
	width:30%;
	margin:0 auto;
	text-align:center
}

#Music-1{
  z-index: 100;
  position: relative;
  left: 0px;
  top: -135px;
}

#Music-2{
  z-index: 100;
  position: relative;
  left: 5px;
  top: 285px;
}

#Music-3{
  z-index: 100;
  position: relative;
  left: 5px;
  top: 490px;
}
